*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root
  > div
  > nav.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation1.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1jrbdul-MuiPaper-root-MuiAppBar-root
  > div
  > button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    @media (max-width:425px) {
        display: none;
    }
}

button{
    @media (max-width:425px) {
        display: none;
    }
}

.MuiButton-root{
    @media (max-width:425px) {
        display: none;
    }
 }
